body {
background: #2151CD;
background: -webkit-linear-gradient(right, #2151CD, #1786E0);
background: -moz-linear-gradient(right, #2151CD, #1786E0);
background: linear-gradient(to left, #2151CD, #1786E0);
}

.div-1 {
    background: #ffffff;
    border-radius: 3px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}

.div-2{
    background: #ffffff;
    margin-top: 15px;
    margin-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    text-align: center;
    
}

.xxx{
  padding-left: 3px; 
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 3px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 17px;
  line-height: 37px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 200px;
}

.two-colors { 
font-size: 100px; 
background: linear-gradient(to right, #ffffff 50%, #1100ff 50%); 
-webkit-background-clip: text; 
-webkit-text-fill-color: transparent; 
font-weight: 900; 
font-family: Arial; 
display: flex; 
flex-wrap: wrap; 
justify-content: center; 
flex-direction: column; 
text-align: center;
margin: 10;
}

.title { 
font-size: 25px; 
font-weight: 900; 
font-family: Arial; 
display: flex; 
flex-wrap: wrap; 
justify-content: center; 
flex-direction: column; 
text-align: center;
margin: 110;
color: #ffffff;
}

.v {
font-size: 55px; 
font-weight: 900; 
font-family: Arial; 
color: #1100ff;
}

.s {
font-size: 55px; 
font-weight: 900; 
font-family: Arial; 
color: #ff000a;
}

.title2 { 
font-size: 15px; 
font-weight: 900; 
font-family: Arial; 
display: flex; 
flex-wrap: wrap; 
justify-content: center; 
flex-direction: column; 
text-align: center;
margin: 110;
color: #00A273;
}

img{
    width: 100px;
}

.span1{
    color: #0018ff;
    font-size: 50px; 
    font-weight: 900;
    font-family: Arial; 
}

.span2{
    color: #ff0a00;
    font-size: 50px; 
    font-weight: 900;
    font-family: Arial; 
}    

.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 17px;
  line-height: 49px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 500px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
